.image-button-container {
    display: flex;
    align-items: center;
    border: 1px solid yellow;
    border-radius: 50px;
    width: 200px;
    padding: 15px 30px;
    margin: 10px auto;
}

.image-button-container > img {
    color: yellow;
    width: 30px;
    margin-right: 10px;
}
.page-section-container {
    color: white;
}