.smallcard-container {
    color: white;
    display: flex;
    align-items: center;
    border: 1px solid yellow;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 80px;
}
.smallcard-container > img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.smallcard-container h5 {
    margin:0px 5px 5px 0px;
    
}
.smallcard-container > div {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: baseline;

}